/* Box Model Hack */
* {
    box-sizing: border-box;
    font-size: large;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       content: ".";
       display: block;
       clear: both;
       visibility: hidden;
       line-height: 0;
       height: 0;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body 
  {
    display: flex;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(245 246 247);;
  }

  nav
  {
    padding: 0px 48px 0px 0px;
  }

  figcaption
  {
    font-size: small;
    color: white;
    padding: 0px 0px 0px 290px;
  }

  h1
  {
    color: white;
  }

  h2 > strong
  {
    font-size: xx-large;
  }

  .userCaptions
  {
    font-size: small;
    color: darkgrey;
    padding: 0;
  }

  figure
  {
    margin: 0;
  }

  #signUpButton
  {
    background-color: green;
    color: white;
    margin: 20px 0px 20px 0px;
  }

  body > header > section.informationBox > nav > figure > form > button
  {
    background-color: navy;
    color: white;
  }

  body > main > section.mainBoxRight > div:nth-child(1) > span
  {
    margin: 0;
  }
  
  body > main > section.mainBoxRight > div:nth-child(1) > h3
  {
    font-size: xx-large;
    margin: 0;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  header 
  {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: blue;
  }

  .headerLogo
  {
    padding: 0px 0px 0px 160px;
  }

  main
  {
    display: flex;
    align-items: center;
    width: 100%;
    height: 600px;
  }

  .mainBoxLeft
  {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 600px;
  }

    body > main > section.mainBoxLeft > div:nth-child(1)
  {
    display: flex;
    width: 100%;
    padding: 0px 0px 0px 160px;
  }

  .mainBoxRight
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    height: 600px;
    padding: 0px 150px 0px 150px;
  }

  body > main > section.mainBoxRight > div:nth-child(2)
  {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #fname, #lname
  {
    width: 48%;
    margin: 2px;
  }

  #mobileOrEmail, #newpassword
  {
    width: 98%;
    margin: 2px;
  }

  #userMonth, #userDay, #userYear
  {
    width: 30%;
    margin: 2px;
  }

  body > main > section.mainBoxRight > div:nth-child(3)
  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  body > main > section.mainBoxRight > div:nth-child(5)
  {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  #signUpButton
  {
    width: 35%;
    align-self: center;
  }

  body > main > section.mainBoxRight > div:nth-child(5) > span
  {
    font-size: small;
  }

  .mainBoxLogo
  {
    display: flex;
    width: 100%;
  }

  body > main > section.mainBoxLeft > div.mainBoxLogo > div:nth-child(1)
  {
    display: flex;
    justify-content: flex-end;
    width: 30%;
  }

  body > main > section.mainBoxLeft > div.mainBoxLogo > div:nth-child(2)
  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 70%;
  }
  
  footer 
  {
    display: flex;
    justify-content: flex-end;
    background-color: white;
    width: 100%;
    height: 50px;
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  