 *
{
    box-sizing: border-box;
    font-family: garamond, Times ,serif;
    text-decoration: none;
}

header
{
    display: block;
    clear: both;
    height: 75px;
    width: 100%;
}

nav
{
    display: block;
    float: left;
    height: 75px;
    width: 100%;
    border-bottom: solid lightgrey .1px;
}

nav > section
{
    display: block;
    float: left;
    height: 75px;
    width: 33.33333%;
}

body > header > nav > section > ul li
{
    text-decoration: none;
    display: block;
    float: left;
    font-style: Calibri;
    padding: 12px 0px 0px 48px;
}


#theAtlanticLogoText
{
    padding: 0px 0px 0px 0px;
}

body > header > nav > section:nth-child(2) > a
{
    height: 50px;
    padding: 0px 0px 0px 75px;
    display: block;
}

body > header > nav > section:nth-child(2) > a > img
{
    height: 175px;
    padding: 0px 0px 0px 75px;
    display: block;
}

body > header > nav > section:nth-child(2) > a:nth-child(2) > img
{
    padding: 125px 0px 0px 75px;
}

main
{
    display: block;
    float: left;
    height: 900px;
    width: 100%;
}

body > header > main > section.topSection
{
    display: block;
    float: left;
    height: 600px;
    width: 100%;
    margin: 200px 0px 0px 0px;
}

section#topLeftArticle
{
    display: block;
    float: left;
    height: 600px;
    width: 20%;
}

section#topLeftArticle > article
{
    display: block;
    float: left;
    height: 300px;
    width: 100%;
}

section#topLeftArticle h2
{
    font-size: 24px;
}

section#middleArticle
{
    display: block;
    float: left;
    height: 600px;
    width: 60%;
}

section#middleArticle > article
{
    display: block;
    float: left;
    padding: 0px 0px 0px 120px;
}

#middleArticle > article > span:nth-child(2)
{
    display: block;
    float: left;
    padding: 0px 0px 0px 0px;
}

#middleArticle > article > h1
{
    font-size: 36px;
    padding: 0px 0px 0px 108px;
    margin: 48px 0px -24px 0px;
}

#middleArticle > article > p
{
    padding: 16px 0px 0px 200px;
}

#middleArticle > article > span
{
    padding: 16px 0px 0px 200px;
}

section#topRightArticle
{
    display: block;
    float: left;
    height: 600px;
    width: 20%;
}

section#topRightArticle > article
{
    display: block;
    float: left;
    height: 150px;
    width: 100%;
}

section#topRightArticle > article > h3
{
    display: block;
    float: left;
    padding: 0px 0px 0px 0px;
}

#topRightArticle > article a
{
    display: block;
    float: left;
    width: 100%;
    padding: 0px 0px 0px 180px;
}